//FONT FAMILIES
//------------------------------------------------




//COLORS 
//------------------------------------------------






//BREAKPOINTS 
//-------------------------------------------------


small-desktop = 998px
tablet-max = 997px
tablet-min = 694px 
desktop = 1280px


tablet-min = 'screen and (min-width: 694px)'
tablet-minmax = 'screen and (min-width: 694px) and (max-width: 997px)'
small-desktop-minmax = 'screen and (min-width: 998px) and (max-width: 1280px)'
small-desktop = "screen and (min-width: 998px)"
desktop = "screen and (min-width 1280px)"



