.center-content 
    width 100% 
    margin auto 
    z-index 2
    margin-left auto
    margin-right auto
    
    @media $smallest-desktop-minmax 
        padding 0 10px
    
    &:not(.not-relative)
        position relative
        
    &:not(.nopadding)
        @media $tablet-max
            padding-left 15px
            padding-right 15px

    &:not(.bigger)
        @media $small-desktop-min
            width $contextPX

        @media $smallest-desktop-minmax
            width $smallerContextPX !important

    &.bigger
        @media $small-desktop-min
            width $contextPX

        @media $xl-desktop-min
            width $biggerContextPX
             
        @media $smallest-desktop-minmax
            width $smallerContextPX !important

    &:not(.unlimited)
        @media $tablet-max
            max-width 320px
        
    .center-content
        @media $tablet-max
            padding 0 !important
            
.full
	display block
	width 100%
			
.flexed 
	@media $small-desktop-min
		display flex
	
.row
    @media $small-desktop-min
        flex-flow row wrap 
			
.spaced
    @media $small-desktop-min
        justify-content space-between
		
.centered
    @media $small-desktop-min
        align-items center
	
.start
    @media $small-desktop-min
        align-items flex-start
        
.dibfather
    font-size: 0
    
.dib 
    display inline-block
    vertical-align top
    
.cleared 
    &:after
        content ''
        display block
        clear both 
        
.transitioned-basic
    transition all .2s ease-in-out
            
.hideonmobile
    @media $tablet-max
        display none

.becomes-carousel-on-mobile
    @media $tablet-max
        .slick-slide
            margin 0 40px 

        .slick-list
            margin 0 -40px

.icon-after
    &:after
        content ''
        font-family $fa
        font-weight 700
        @extend .dib

.mobile-only
    @media $small-desktop-min
        display none

.has-low-border
    position relative
    padding-bottom 13px 

    &:after
        content ''
        display block
        position absolute
        bottom 0 
        width 90%
        background-color $regularBlue
        height 2px 


    &:before
        content ''
        display block
        position absolute
        left 0 
        height 3px
        background-color $regularBlue
        width 84px

        @media $tablet-max
            bottom -2px

        @media $small-desktop-min
            bottom -3px

    &.smaller-border
        padding-bottom 8px 

        &:after 
            width 85%

.dotted-blue 
    li 
        font-size inherit 
        line-height inherit 
        color inherit 
        
        &:before
            content '•'
            margin-right 3px
            color $lighterBlue
            line-height inherit
            
.block
    display block

.mobile-only
    @media $small-desktop-min
        display none