//fsizes 
//------------------------------------------------
$g = 5rem
$xg = 7rem 
$m = 2.4rem 
$ms = 2rem
$s = 1.6rem 
$xs = 1.4rem 

//COLORS 
//------------------------------------------------






//BREAKPOINTS 
//-------------------------------------------------
// sc === screen ///\\\ xxs / xs / s / sc / xl / ===  xxtra small /  xtra small / small / regularscreen / xtra large    

xl-sc = 1400px 
sc = xl-sc - 1  
s-sc = 997px 
xs-sc = 600px 
xxs-sc = xs-sc - 1 

// MAX 
$mobile-max = 'screen and (max-width xxs-sc)'
$tablet-max = 'screen and (max-width s-sc)'
$small-desktop-max = 'screen and (max-width sc)'

// MIN 
$tablet-min = 'screen and (min-width xs-sc)'
$small-desktop-min = 'screen and (min-width s-sc)'
$desktop-min = 'screen and (min-width 1279px)'
$xl-desktop-min = 'screen and (min-width xl-sc)'

//MINMAX 
$tablet-minmax = 'screen and (min-width xs-sc) and (max-width s-sc)'
$small-desktop-minmax = 'screen and (min-width s-sc) and (max-width xl-sc)'
$smallest-desktop-minmax = 'screen and (min-width 998px) and (max-width 1279px)'
$desktop-minmax = 'screen and (min-width 1279px) and (max-width 1400px)'






