// ## GENERIC INPUT RULES ## 
// #########################

::-webkit-input-placeholder  
	color #FFF

::-moz-placeholder 
	color #FFF
	opacity 1

:-ms-input-placeholder 
	color #FFF

:-moz-placeholder  
	color #FFF