@import 'helpers/variables'
@import 'base/reset'
@import 'base/fallbacks'
@import 'helpers/mixins'
@import 'helpers/repeatables'
@import 'helpers/spacing'
@import 'base/typography'
@import 'components/buttons'
@import 'components/navigation'
@import 'components/defaults'
@import 'layout/footer'
@import 'layout/overlay'
@import 'layout/forms'
@import 'layout/header'
@import 'layout/sidebars'
@import 'layout/overlay'
@import 'pages/index'


// i tend to cite classes on several documents generally as follows: 
// generic properties go on more generic denominators and specifics go usually into their own page hierarchy 

// ie: (.has-icon) will be on defaults and contain all generic properties for reusability, i will then go to the specific 
// component that intends to use the class and extend their properties based on hierarchy for that HTML context (generally this means spacing, colors, sizes and this sort of stuff)

// documentation motherfucker, do you have it?

// REMEMBER TO READ HIERARCHY.MD ON SRC FOLDER!