// webfont('font-name', 'file-name', 'weight')


// ## text ##
// ##########

.t-xxs
    font-size 10px

.t-xs 
    font-size 12px 

.t-s 
    font-size 14px 

.t-r 
    font-size 16px 
    
.t-g
    font-size 18px 
    
.t-xg
    font-size 20px 
    
.t-xxg 
    font-size 22px 

.t-xxxg
    font-size 24px
    
.t-xxxxg 
    font-size 28px

.t-exg
    font-size 36px

.t-exxg 
    font-size 40px
    
// ## lineheight ##
// ################

.lh-g 
    line-height 18px

.hiline 
    
    @media $tablet-max
        line-height 20px 
        
    @media $small-desktop-min
        line-height 26px 
    
// ## margins ##
// #############

.margin-xxxs
    margin-bottom 10px

.margin-xxs 
    margin-bottom 15px
    
.margin-xs 
    margin-bottom 25px 
    
.margin-s 
    margin-bottom 30px

.margin 
    margin-bottom 40px
    
.margin-g 
    margin-bottom 55px
    
.margin-xg 
    margin-bottom 65px
    
.margin-xxg
    margin-bottom 75px

.margin-xxxg 
    margin-bottom 85px
    
// ## rules ## 
// ###########

.t-centered
    text-align center

.limited-width
    max-width 600px
    margin-left auto 
    margin-right auto

// ## weights ## 
// #############

.med 
    font-weight 500

.sb 
    font-weight 600

    
// ## etc ## 
// #########

.und 
    text-decoration underline !important

