.start 
	@media $tablet-max
		flex-flow column wrap 
		
	@media $small-desktop-min
		flex-flow row wrap 		
		align-items flex-start
		justify-content space-between
		padding-top 300px
		
.blog-opening
	@media $tablet-max
		padding-top 120px

.page-id-154
	.uncontained-bg
		background-image url('../images/backgrounds/15.jpg')	
		height 1106px	
			
.blog
	@media $small-desktop-min 
		width 700px
		
.blog-card
	@media $small-desktop-min
		padding-bottom 40px

	.wp-wrap
		@media $small-desktop-min
			padding-left 20px 
			padding-right 20px
		
.post-instance
	padding-top 30px
	border 3px solid #FFF
	background-color #000
	
	&:not(:first-of-type)
		border-top 2px solid #FFF

	.post-title-inner, .post-meta-info, & > .text-white, .read-more-segment
		padding-left 30px
		padding-right 30px 
		
.post-title-inner
	font-size 24px
	font-weight bold
		
.meta-instance
	@media $tablet-max 
		text-align center
		
	&:not(:last-of-type)
		@media $tablet-max
			margin-bottom 10px
			
	& + .meta-instance
		@media $small-desktop-min
			margin-left 15px
		
	span 
		color #FFF 
		font-weight 300	
		font-size 12px
		display inline-block
		vertical-align top
		padding-top 1px
		margin-left 5px
		
	i 
		font-size 14px 
		color $red
		

.read-more-segment
	min-height 100px
	border-top 1px solid rgba(#FFF, .5)
	padding-top 30px 
	padding-right 30px
	
	@media $tablet-max
		padding-bottom 20px
		text-align center
		
.social-link
	&:hover 
		i 
			color $red 
			
	i 
		font-size 32px 
		color rgba(#FFF, .2)
		font-weight 400
		padding-top 5px
		transition color .15s ease
		
	& + .social-link
		margin-left 20px 
		