.units
	background-image url('../images/backgrounds/09.jpg')
	
	@media $tablet-max
		height 500px 
		background-size cover
		
.unit-opening
	@media $tablet-max 
		padding-top 200px 
		padding-bottom 70px 
		
	@media $small-desktop-min
		padding-top  300px
		padding-bottom  175px
		
	.uncontained-bg
		@media $small-desktop-min
			height 1115px
			
	.limited
		@media $small-desktop-min
			width 600px