.course-opening
	@media $tablet-max 
		padding-top 190px
		padding-bottom 60px
		
	@media $small-desktop-min
		min-height 800px
		padding-bottom  45px
		
	.uncontained-bg
		background-size cover
		
		@media $tablet-max
			height 500px 
			background-position center center 
			
		@media $small-desktop-min
			top -34px
			
	.center-content
		@media $small-desktop-min
			padding-top 230px
			
	.limited
		@media $small-desktop-min
			width 600px
			
			
.random-courses
	@media $small-desktop-min
		padding-top 50px
		
.mobile-helper-text
	@media $tablet-max
		margin-bottom 60px
	
.gallery
	@media $small-desktop-min
		padding-top 90px
		padding-bottom 70px
		
	