.luthier
	@media $tablet-max
		padding-top 300px 
		padding-bottom 60px 
		
	@media $small-desktop-min 
		padding-top 280px
		padding-bottom 80px
		
	.uncontained-bg
		background-image url(../images/backgrounds/08.jpg)
		
		@media $mobile-max 
			height 500px
			
		@media $tablet-minmax
			height 650px
		
		@media $tablet-max 
			background-size 180%  
			background-position top center 
	
		@media $small-desktop-min
			height 1244px
		
	.limited 
		@media $tablet-max
			max-width 600px 
			margin-left auto
			margin-right auto
			
		@media $small-desktop-min
			width 600px
			
.teachers-page
	@extend .luthier 
	
	.uncontained-bg
		background-image url('../images/backgrounds/12.jpg')
		height 1137px
		background-position right center 
		background-color #000
		
		@media $smallest-desktop-minmax 
			background-position 25%
			
		@media $desktop-minmax 
			background-position -25%
				
		
	.limited 
		@media $small-desktop-min
			width 600px

.teacher-info
	.square-hover-instance
		cursor pointer
		
.store
	@extend .luthier
	
	.uncontained-bg
		background-image url('../images/backgrounds/13.jpg')
		background-position center center 
		
		@media $mobile-max
			height 500px
		
		@media $small-desktop-min
			height 1244px
		
	.section-title
		.text-bigger
			@media $tablet-max 
				font-size 48px 
				
			@media $small-desktop-min
				font-size 80px
			
.homeschooling
	@extend .luthier
			
.uncontained-bg.homeschool
	background-image url('../images/backgrounds/14.jpg')
	height 1244px
	background-position center center 
	
.service-template
	.uncontained-bg
		@media $tablet-max
			height 500px
			background-size cover
	