html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
  overflow-x: hidden;
}
body,
html {
  font-size: 10px;
}
body.no-scroll,
html.no-scroll {
  overflow: hidden;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  box-sizing: border-box;
}
*:before {
  box-sizing: border-box;
}
*:after {
  box-sizing: border-box;
}
*:active,
*:focus {
  outline: 0;
}
b,
strong {
  font-weight: 700;
}
a {
  text-decoration: none !important;
}
a:link,
a:visited,
a:active {
  text-decoration: none !important;
}
img {
  max-width: 100%;
}
button {
  cursor: pointer;
}
input,
select,
textarea {
  padding: 5px 10px;
  font-family: inherit;
}
.oldiewarning {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 100%;
  height: 100%;
  background-color: #32363b;
  overflow: hidden;
  z-index: 1000;
  display: none;
}
.oldiewarning p,
.oldiewarning a {
  width: 100%;
  margin: auto;
  text-align: center;
  position: absolute;
  top: 500px;
  color: #fff;
  font-size: 40px;
  font-family: Tahoma, Geneva, sans-serif;
}
.lt-ie9 {
  overflow: hidden;
}
.lt-ie9 .oldiewarning {
  display: block;
}
.center-content {
  width: 100%;
  margin: auto;
  z-index: 2;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (min-width: 998px) and (max-width: 1279px) {
  .center-content {
    padding: 0 10px;
  }
}
.center-content:not(.not-relative) {
  position: relative;
}
@media screen and (max-width: 997px) {
  .center-content:not(.nopadding) {
    padding-left: 15px;
    padding-right: 15px;
  }
}
@media screen and (min-width: 997px) {
  .center-content:not(.inner) {
    width: 1140px;
  }
}
@media screen and (min-width: 998px) and (max-width: 1279px) {
  .center-content:not(.inner) {
    width: 1000px;
  }
}
.full {
  display: block;
  width: 100%;
}
@media screen and (min-width: 997px) {
  .flexed {
    display: flex;
  }
}
@media screen and (min-width: 997px) {
  .flexed.row {
    flex-flow: row wrap;
  }
}
@media screen and (min-width: 997px) {
  .flexed.spaced {
    justify-content: space-between;
  }
}
@media screen and (min-width: 997px) {
  .flexed.centered {
    align-items: center;
  }
}
@media screen and (min-width: 997px) {
  .flexed.start {
    align-items: flex-start;
  }
}
.dib {
  display: inline-block;
  vertical-align: top;
}
.cleared:after {
  content: '';
  display: block;
  clear: both;
}
.transitioned-basic {
  transition: all 0.2s ease-in-out;
}
@media screen and (max-width: 997px) {
  .hideonmobile {
    display: none;
  }
}
@media screen and (max-width: 997px) {
  .becomes-carousel-on-mobile .slick-slide {
    margin: 0 40px;
  }
  .becomes-carousel-on-mobile .slick-list {
    margin: 0 -40px;
  }
}
.full {
  display: block;
  width: 100%;
  clear: both;
}
@media screen and (min-width: 997px) {
  .half,
  .half-child {
    width: 47.5%;
  }
}
.half-child + .half-child:not(:nth-child(2n+3)) {
  margin-left: 5%;
}
@media screen and (min-width: 997px) {
  .one-third,
  .one-third-child {
    width: 31.66%;
  }
}
.one-third-child + .one-third-child:not(:nth-of-type(3n+4)) {
  margin-left: 2.5%;
}
@media screen and (min-width: 997px) {
  .one-fourth,
  .one-fourth-child {
    width: 23.75%;
  }
}
@media screen and (min-width: 997px) {
  .one-fourth-child + .one-fourth-child:not(:nth-of-type(4n+5)) {
    margin-left: 1.666%;
  }
}
@media screen and (min-width: 997px) {
  .one-fifth,
  .one-fifth-child {
    width: 18%;
  }
}
@media screen and (min-width: 997px) {
  .one-fifth-child + .one-fifth-child:not(:nth-of-type(5n+6)) {
    margin-left: 2.5%;
  }
}
@media screen and (min-width: 997px) {
  .two-thirds {
    width: 63.334%;
  }
}
@media screen and (min-width: 997px) {
  .two-thirds:last-child {
    margin-left: 5%;
  }
}
.t-white {
  color: #fff;
}
.t-xxs {
  font-size: 10px;
}
.t-xs {
  font-size: 12px;
}
.t-s {
  font-size: 14px;
}
.t-r {
  font-size: 16px;
}
.t-g {
  font-size: 18px;
}
.t-xg {
  font-size: 20px;
}
.t-xxg {
  font-size: 22px;
}
.t-xxxg {
  font-size: 24px;
}
.t-xxxxg {
  font-size: 28px;
}
.t-exg {
  font-size: 36px;
}
.t-exxg {
  font-size: 40px;
}
.lh-xs {
  line-height: 14px;
}
.lh-s {
  line-height: 16px;
}
.lh-r {
  line-height: 18px;
}
.lh-g {
  line-height: 20px;
}
.lh-xg {
  line-height: 22px;
}
.lh-xxg {
  line-height: 24px;
}
.hiline {
  line-height: 26px;
}
.hiline-extra {
  line-height: 44px;
}
.margin-xxxs {
  margin-bottom: 10px;
}
.margin-xxs {
  margin-bottom: 15px;
}
.margin-xs {
  margin-bottom: 25px;
}
.margin-s {
  margin-bottom: 30px;
}
.margin {
  margin-bottom: 40px;
}
.margin-g {
  margin-bottom: 55px;
}
.margin-xg {
  margin-bottom: 65px;
}
.margin-xxg {
  margin-bottom: 75px;
}
.margin-xxxg {
  margin-bottom: 85px;
}
.t-centered {
  text-align: center;
}
.limited-width {
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
}
.upper {
  text-transform: uppercase;
}
.med {
  font-weight: 500;
}
.sb {
  font-weight: 600;
}
.bold {
  font-weight: 700;
}
a.und,
.und {
  text-decoration: underline !important;
}
.ita {
  font-style: italic;
}
.variant {
  border: 0;
  background-color: transparent;
  padding: 0;
}
