html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
  overflow-x: hidden;
}
body.no-scroll {
  overflow: hidden;
}
body,
html {
  font-size: 10px;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  box-sizing: border-box;
}
*:before {
  box-sizing: border-box;
}
*:after {
  box-sizing: border-box;
}
*:active,
*:focus {
  outline: 0;
}
b,
strong {
  font-weight: 700;
}
a {
  text-decoration: none !important;
}
a:link,
a:visited,
a:active {
  text-decoration: none !important;
}
img {
  max-width: 100%;
}
button {
  cursor: pointer;
}
.oldiewarning {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 100%;
  height: 100%;
  background-color: #32363b;
  overflow: hidden;
  z-index: 1000;
  display: none;
}
.oldiewarning p,
.oldiewarning a {
  width: 100%;
  margin: auto;
  text-align: center;
  position: absolute;
  top: 500px;
  color: #fff;
  font-size: 40px;
  font-family: Tahoma, Geneva, sans-serif;
}
.lt-ie9 {
  overflow: hidden;
}
.lt-ie9 .oldiewarning {
  display: block;
}
.t-white {
  color: #fff;
}
.t-blue {
  color: $blue;
}
.t-purple {
  color: $purple;
}
.t-gray {
  color: $lightGray;
}
.t-darkBlue {
  color: $darkBlue;
}
.t-xxs {
  font-size: 10px;
}
.t-xs {
  font-size: 12px;
}
.t-s {
  font-size: 14px;
}
.t-r {
  font-size: 16px;
}
.t-g {
  font-size: 18px;
}
.t-xg {
  font-size: 20px;
}
.t-xxg {
  font-size: 22px;
}
.t-xxxg {
  font-size: 24px;
}
.t-xxxxg {
  font-size: 28px;
}
.t-exg {
  font-size: 36px;
}
.t-exxg {
  font-size: 40px;
}
.lh-xs {
  line-height: 14px;
}
.lh-s {
  line-height: 16px;
}
.lh-r {
  line-height: 18px;
}
.lh-g {
  line-height: 20px;
}
.lh-xg {
  line-height: 22px;
}
.lh-xxg {
  line-height: 24px;
}
.hiline {
  line-height: 26px;
}
.hiline-extra {
  line-height: 44px;
}
.margin-xxxs {
  margin-bottom: 10px;
}
.margin-xxs {
  margin-bottom: 15px;
}
.margin-xs {
  margin-bottom: 25px;
}
.margin-s {
  margin-bottom: 30px;
}
.margin {
  margin-bottom: 40px;
}
.margin-g {
  margin-bottom: 55px;
}
.margin-xg {
  margin-bottom: 65px;
}
.margin-xxg {
  margin-bottom: 75px;
}
.margin-xxxg {
  margin-bottom: 85px;
}
.t-centered {
  text-align: center;
}
.limited-width {
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
}
.upper {
  text-transform: uppercase;
}
.med {
  font-weight: 500;
}
.sb {
  font-weight: 600;
}
.bold {
  font-weight: 700;
}
a.und,
.und {
  text-decoration: underline !important;
}
.ita {
  font-style: italic;
}
